<article id="member-{{member.num}}" class="grid-container member-tile">
    <div class="grid-x align-middle">
        <section class="sprite-container cell small-3">
            <img src="{{member.sprite}}" alt="{{member.name}} front default sprite">
        </section>
        <section class="member-info-container cell small-9">
            <div class="member-nums grid-x align-justify">
                <p class="roster-dex-num cell auto"># {{member.dexNum}}</p>
                <p class="member-num cell small-1">{{member.num}}</p>
            </div>
            <div class="pokemon-name-container">
                <p class="member-name">{{member.name}}</p>
            </div>
            <div class="types-fave-container grid-x">
                {{#each member.types as |type|}}
                <span class="type cell auto">type.name</span>
                {{/each}}
                {{#if member.favorite}}
                <button class="fave-btn fave-btn-fill cell small-1">
                </button>
                {{else}}
                <button class="fave-btn fave-btn-outline"></button>
                {{/if}}
            </div>
        </section>
    </div>
</article>