<article class="pokemon-card">
    <section class="pokemon-card-head grid-x align-justify">
        <p id="dex-num"># {{cardPokemon.dexNum}}</p>
        <p id="pokemon-name">{{capitalize cardPokemon.name}}</p>
    </section>
    <section class="pokemon-card-art">
        <img id="official-art-card" src="{{cardPokemon.art.official}}" alt="Official artwork for {{cardPokemon.name}}">
    </section>
    <section class="pokemon-card-details grid-container">
        <section id="pokemon-types-container" class="grid-x align-spaced">
            {{#each cardPokemon.types as |type|}}
            <span class="pokemon-type cell auto">{{capitalize type}}</span>
            {{/each}}
        </section>
        <section class="flavor-text-container">
            <p id="flavor-text">{{cardPokemon.flavor_text}}</p>
        </section>
        <section class="stats-container grid-x">
            <div class="stat cell-4">
                <p class="stat-name">HP</p>
                <p id="hp">&emsp;{{cardPokemon.stats.hp}}</p>
            </div>
            <div class="stat cell-4">
                <p class="stat-name">Attack</p>
                <p id="attack">&emsp;{{cardPokemon.stats.attack}}</p>
            </div>
            <div class="stat cell-4">
                <p class="stat-name">Defense</p>
                <p id="defense">&emsp;{{cardPokemon.stats.defense}}</p>
            </div>
            <div class="stat cell-4">
                <p class="stat-name">Speed</p>
                <p id="speed">&emsp;{{cardPokemon.stats.speed}}</p>
            </div>
            <div class="stat cell-4">
                <p class="stat-name">Sp. Attack</p>
                <p id="specAtt">&emsp;{{cardPokemon.stats.specAtt}}</p>
            </div>
            <div class="stat cell-4">
                <p class="stat-name">Sp. Defense</p>
                <p id="specDef">&emsp;{{cardPokemon.stats.specDef}}</p>
            </div>
        </section>
    </section>
</article>