<section id="teams-page" class="grid-x">
    <aside id="members-window" class="cell medium-3">
        <section class="grid-container fluid">
            <section class="grid-x" id="aside-title">
                <form class="grid-x">
                    <section class="cell auto">
                        <label id="team-title"> Team Name
                            <select id="team-selector">
                                <option value="">Pick a team</option>
                                {{#each teams as |team|}}
                                <option value="{{team.id}}">{{team.team_name}}</option>
                                {{/each}}
                            </select>
                        </label>
                    </section>
                </form>
            </section>
        </section>
    </aside>
    <section class="float-center" id="member-controls">
        <form id="generator-form" class="grid-x">
            <section class="cell-auto">
                <label for="member-select" id="member-select">
                    <select id="pokemon-selector" name="member-select">
                        <option value="">Team Members</option>
                        <option value="{{member.id}}">{{member.pokemon_name}}</option>

                        <option value="">Favorites</option>
                        <option value="{{favorites.id}}">{{favorites.pokemon_name}}</option>
                    </select>
                </label>
            </section>
        </form>
    </section>
</section>
