<section id="teams-page" class="grid-x">
    <aside id="members-window" class="cell medium-3">
        <div class="grid-container fluid">
            <form class="grid-x" id="team-form">
                <section class="cell auto">
                    <label id="team-title"> Team Name
                        <select id="team-selector">
                            <option value="">Pick a Team</option>
                            {{#each teams as |team|}}
                            <option value="{{team.id}}">{{team.team_name}}</option>
                            {{/each}}
                        </select>
                    </label>
                <button type="click" id="delete-btn" class="cell auto small-2 button">Delete Team</button>
                </section>
            </form>
        </div>
        <aside id="members-window">
            {{#each members as |member|}}
            <article id="slot-{{member.memberNum}}" class="roster-slot grid-x">
                <section class="member-tile cell auto">
                    {{> member-tile member=member}}
                </section>
            </article>
            {{/each}}
        </aside>
    </aside>
    <section class="float-center" id="member-controls">
        <form id="member-form" class="grid-x">
            <section class="cell-auto" id="member-form">
                <label for="member-select" id="member-select">
                    <select name="member-select" id="pokemon-selector">
                        <option value="">Team Members</option>
                        <option value="{{member.id}}">{{member.pokemon_name}}</option>
                    </select>
                    <button type="submit" id="details-btn" class="cell small-2 button">Get Pokémon Details!</button>
                </label>
            </section>
        </form>
    </section>
</section>

<script src="/javascript/dashboard.js"></script>
<script src="/javascript/generate-card.js"></script>