<section class="grid-x">
    <aside class="cell medium-3">
        <section class="grid-container fluid">
            <section class="grid-x" id="team-card">
                <form class="grid-x">
                    <section class="cell auto">
                        <label id="team-title"> Team Name
                            <select id="team-selector">
                                <option value="">Pick a team</option>
                                {{#each teams as |team|}}
                                <option value="{{team.id}}">{{team.team_name}}</option>
                                {{/each}}
                            </select>
                        </label>
                    </section>
                </form>
            </section>
        </section>
    </aside>
    <section>
        <form class="grid-x">
            <section class="cell-auto">
                <label for="member-select">Member
                    <select id="pokemon-selector" name="member-select">
                        <option value="">Team Members</option>
                        {{!-- TO DO add members here --}}
                        {{#each member as |member|}}
                        <option value="{{member.id}}">{{member.pokemon_name}}</option>
                        {{/each}}
                    </select>
                </label>
            </section>
            <section class="cell-auto">
                <label for="favorites-select"> Favorites
                    <select name="favorites-select">
                        <option value="">Favorites</option>
                        {{!-- TODO add favorites here --}}
                        {{#each favorites as |favorite|}}
                        <option value="{{favorites.id}}">{{favorites.pokemon_name}}</option>
                        {{/each}}
                    </select>
                </label>
            </section>
        </form>
    </section>
</section>