<section id="generator-page" class="grid-x">
    <aside id="members-window" class="cell medium-3">
        <h3 class="aside-title">Team Roster</h3>
        {{#each members as |member|}}
        <article id="slot-{{member.memberNum}}" class="roster-slot grid-x">
            <section class="member-lock cell small-1">
                <span class="lock-icon" class="material-symbols-outlined">lock</span>
            </section>
            <section class="member-tile cell auto">
                {{> member-tile member=member}}
            </section>
        </article>
        {{/each}}
    </aside>
    <section id="generator-center" class="cell auto">
        <section id="generator-controls" class="grid-container fluid">
            <form id="generator-form" class="grid-x">
                <section id="game-select-container" class="cell auto">
                    <label for="game-select">Game
                        <select id="game-select" name="game-select" required>
                            <option value="" selected>Pick a Game</option>
                            {{#each games as |game|}}
                            <option value="{{game.dexId}}">{{game.name}}</option>
                            {{/each}}
                        </select>
                    </label>
                </section>
                <section id="type-select-container" class="cell auto">
                    <label for="type-select">Types (Optional)
                        <select name="type-select" id="type-select">
                            <option value="">Start typing to search</option>
                            {{#each types as |type|}}
                            <option value="{{format_select_options type}}">{{format_select_options type}}</option>
                            {{/each}}
                        </select>
                    </label>
                </section>
                <section id="move-select-container" class="cell auto">
                    <label for="move-select">Moves (Optional)
                        <select name="move-select" id="move-select">
                            <option value="">Start typing to search</option>
                            {{#each moves as |move|}}
                            <option value="{{format_select_options move}}">{{format_select_options move}}</option>
                            {{/each}}
                        </select>
                    </label>
                </section>
                <button type="submit" id="generate-btn" class="cell small-1 button">Go!</button>
            </form>
        </section>
        <section id="pokemon-details" class="grid-container fluid">
            <div class="grid-x">
                <section id="pokemon-details-container">
                    {{!-- TODO: add pokemon card --}}
                </section>
                <section id="evolutions-container">
                    {{!-- TODO: add pokemon evolution details --}}
                </section>
            </div>
        </section>
    </section>
</section>

<script src="/javascript/team-generator.js"></script>