<section id="generator-page" class="grid-x">
    <aside id="members-window" class="cell medium-3">
        <section class="grid-container">
            <form id="save-team-form" class="grid-x align-bottom">
                <section class="cell auto">
                    <label for="team-name">Enter a Team Name</label>
                    <input type="text" name="team-name" id="team-name">
                </section>
                <section class="save-btn-container cell medium-2 grid-x align-right">
                    <button id="save-team-btn" type="submit" class="btn"><span class="material-symbols-outlined">save</span></button>
                </section>
            </form>
        </section>
        {{#each members as |member|}}
        <article id="slot-{{member.memberNum}}" class="roster-slot grid-x align-middle">
            <section class="member-lock cell small-2">
                <span id="lock-{{member.memberNum}}" class="material-symbols-outlined lock-icon">lock_open</span>
            </section>
            <section class="member-tile cell auto">
                {{> member-tile member=member}}
            </section>
        </article>
        {{/each}}
    </aside>
    <section id="generator-center" class="cell auto">
        <section id="generator-controls" class="grid-container fluid align-bottom">
            <form id="generator-form" class="grid-x">
                <section id="game-select-container" class="cell auto">
                    <label for="game-select">Game
                        <select id="game-select" name="game-select" required>
                            <option value="" selected>Pick a Game</option>
                            {{#each games as |game|}}
                            <option value="{{game.dexId}}">{{game.name}}</option>
                            {{/each}}
                        </select>
                    </label>
                </section>
                <section id="type-select-container" class="cell auto">
                    <label for="type-select">Types (Optional)
                        <select name="type-select" id="type-select">
                            <option value="">Start typing to search</option>
                            {{#each types as |type|}}
                            <option value="{{format_select_options type}}">{{format_select_options type}}</option>
                            {{/each}}
                        </select>
                    </label>
                </section>
                <section id="move-select-container" class="cell auto">
                    <label for="move-select">Moves (Optional)
                        <select name="move-select" id="move-select">
                            <option value="">Start typing to search</option>
                            {{#each moves as |move|}}
                            <option value="{{format_select_options move}}">{{format_select_options move}}</option>
                            {{/each}}
                        </select>
                    </label>
                </section>
                <button type="submit" id="generate-btn" class="btn cell small-1">Go!</button>
            </form>
        </section>
        <section id="pokemon-details" class="grid-container fluid">
            <div class="grid-x">
                <section id="pokemon-details-container">
                    {{!-- TODO: add pokemon card --}}
                </section>
                <section id="evolutions-container">
                    {{!-- TODO: add pokemon evolution details --}}
                </section>
            </div>
        </section>
    </section>
</section>

<script src="/javascript/team-generator.js"></script>